name: C++ Build with Conan

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Conan
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip
        pip3 install conan

    - name: Install dependencies with Conan
      run: |
        conan install . --build=missing

    - name: Build project
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .

    - name: Run tests
      run: |
        cd build
        ctest

